.App {
  display: flex;
  flex-flow: row wrap;
  .navbar__element, .HomeCards__listing {
    flex: 1 100%;
  }
}
.HomeCards {
  &__listing {
    margin-top: 80px;
    &--list {
      padding: 20px 20px 10px 20px;
      margin: 0;
      margin-top:15px;
      display: flex;
      flex-direction: column;
    }
  }
}