.App {
  display: flex;
  flex-flow: row wrap; }
  .App .navbar__element, .App .HomeCards__listing {
    flex: 1 100%; }

.HomeCards__listing {
  margin-top: 80px; }
  .HomeCards__listing--list {
    padding: 20px 20px 10px 20px;
    margin: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: column; }
