$dark-green: #146A20;
$bright-green: #3D8F31;
$yellow: #FCD103;
$orange: #F09218;
$dark-gray: #343133;
$medium-gray: #A2A2A2;
$bright-gray: #D2D2D2;
$whiter: #FFFFFF;
$font: 'Luckiest Guy', arial, serif;