@import './../../globals/vars.scss';
.button {
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  font-family: $font;
  &__primary {
    background-color: $bright-green;
    color: $whiter;
    border-bottom: 5px solid $dark-green;
    margin-right: 10px;
    &:hover {
      background-color: $dark-green;
    }
  }
  &__secondary {
    background-color: $yellow;
    color: $whiter;
    border-bottom: 5px solid $orange;
    text-shadow: 1px 1px $dark-gray;
    &:hover {
      background-color: $orange;
    }
  }
}