.button {
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  font-family: "Luckiest Guy", arial, serif; }
  .button__primary {
    background-color: #3D8F31;
    color: #FFFFFF;
    border-bottom: 5px solid #146A20;
    margin-right: 10px; }
    .button__primary:hover {
      background-color: #146A20; }
  .button__secondary {
    background-color: #FCD103;
    color: #FFFFFF;
    border-bottom: 5px solid #F09218;
    text-shadow: 1px 1px #343133; }
    .button__secondary:hover {
      background-color: #F09218; }
