.home__card--item {
  font-family: "Luckiest Guy", arial, serif;
  list-style: none;
  margin: 0;
  display: flex;
  flex: 2 8;
  flex-direction: row;
  background-color: #D2D2D2;
  padding: 10px 15px 7.5px 10px;
  margin-bottom: 15px; }
  @media screen and (max-width: 769px) {
    .home__card--item {
      display: inline-block; } }

.home__card--thumbnail {
  flex-grow: 2;
  height: 100px;
  min-width: 150px;
  width: 100px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px; }
  @media screen and (max-width: 769px) {
    .home__card--thumbnail {
      width: 100%;
      min-height: 150px;
      background-size: 100% auto;
      background-position: center; } }

.home__card--description {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative; }

.home__card--main {
  width: 100%;
  display: flex;
  margin-bottom: 30px; }
  @media screen and (max-width: 769px) {
    .home__card--main {
      display: inline-block;
      width: 100%;
      margin-bottom: 70px; } }

.home__card--body {
  flex-grow: 10;
  padding-top: 20px; }
  @media screen and (max-width: 769px) {
    .home__card--body {
      display: inline-block;
      width: 100%;
      padding-left: 10px; } }

.home__card--price {
  text-align: right;
  flex-grow: 2;
  min-width: 100px; }
  .home__card--price span {
    border-radius: 5px;
    background: #343133;
    color: #FCD103;
    padding: 10px 15px 10px 15px;
    line-height: auto;
    margin-top: 5px;
    display: inline-block;
    font-size: 20px; }
  @media screen and (max-width: 769px) {
    .home__card--price {
      display: inline-block;
      width: 100%;
      padding-right: 10px; } }

.home__card--actionButtons {
  font-family: "Luckiest Guy", arial, serif;
  width: 100%;
  display: inline-block;
  text-align: right;
  clear: both;
  position: absolute;
  bottom: 0; }
  @media screen and (max-width: 769px) {
    .home__card--actionButtons {
      text-align: center; }
      .home__card--actionButtons .button__primary {
        display: none; }
      .home__card--actionButtons .button__secondary {
        width: 100%; } }
