@import './../../globals/vars.scss'; 
.home__card {
  &--item {
    font-family: $font;
    list-style: none;
    margin: 0;
    display: flex;
    flex: 2 8;
    flex-direction: row;
    background-color: $bright-gray;
    padding: 10px 15px 7.5px 10px;
    margin-bottom: 15px;

    @media screen and (max-width: 769px) {
      display: inline-block;
    }
  }
  &--thumbnail {
    flex-grow: 2;
    height: 100px;
    min-width: 150px;
    width: 100px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;

    @media screen and (max-width: 769px) {
      width: 100%;
      min-height: 150px;
      background-size: 100% auto;
      background-position: center;
    }
  }
  &--description { 
    flex-grow: 10;
    display: flex;
    flex-direction:  column;
    align-items: flex-end;
    position: relative;
  }
  &--main {
    width: 100%;
    display: flex;
    margin-bottom: 30px;

    @media screen and (max-width: 769px) {
      display: inline-block;
      width: 100%;
      margin-bottom: 70px;
    }
  }
  &--body {
    flex-grow: 10;
    padding-top: 20px;
    @media screen and (max-width: 769px) {
      display: inline-block;
      width: 100%;
      padding-left: 10px;
    }
  }
  &--price {
    text-align: right;
    flex-grow: 2;
    min-width: 100px;
    span {
    border-radius: 5px;
    background: $dark-gray;
    color: $yellow;
    padding: 10px 15px 10px 15px;
    line-height: auto;
    margin-top: 5px;
    display: inline-block;
    font-size: 20px;
    }
    @media screen and (max-width: 769px) {
      display: inline-block;
      width: 100%;
      padding-right: 10px;
    }
  }
  &--actionButtons {
    font-family: $font;
    width: 100%;
    display: inline-block;
    text-align: right;
    clear: both;
    position: absolute;
    bottom: 0;
    
    @media screen and (max-width: 769px) {
      text-align: center;
      .button__primary {
        display: none;
      }
      .button__secondary {
        width: 100%;
      }
    }
  }
}