.loading__wrapper {
  font-family: "Luckiest Guy", arial, serif;
  width: 100%;
  display: inline-block;
  margin-top: 50px; }
  .loading__wrapper span {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 20px; }
  .loading__wrapper .fa-spinner {
    margin: auto;
    width: 200px;
    display: block;
    margin-top: 20px;
    font-size: 30px; }
