@import './../../globals/vars.scss';
.loading {
  &__wrapper {
    font-family: $font;
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    span {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding-top: 20px;
    }
    .fa-spinner {
      margin: auto;
      width: 200px;
      display: block;
      margin-top: 20px;
      font-size: 30px;
    }
  }
}