@import './../../globals/vars.scss';

.navbar {
  &__element {
    width: 100%;
    font-family: $font;
    font-size: 20px;
    background-color: $medium-gray;
    display: flex;
    flex-direction: row;
    position: fixed;
    box-shadow: 0 2px 5px 0 $dark-gray;
    z-index: 1;
  }
  &__logo {
    padding: 0 20px 0 0;
    flex-grow: 2;
    @media screen and (max-width: 769px) {
      flex-grow: 1;
    }
    h1{
      text-align: left;
      padding-left: 20px;
      width: 100%;
      display: inline-block;
      @media screen and (max-width: 769px) {
        text-align: center;
      }
    }
  }
  &__menu {
    @media screen and (max-width: 769px) {
      display: none;
    }
    flex-grow: 10;
    display: flex;
    justify-content: flex-end;
    
    a {
      color: $whiter;
      text-decoration: none;
      text-shadow: 1px 1px $dark-gray;
      display: inline-block;
      line-height: 80px;
      font-size: 16px;
      padding: 0 10px 0 10px;

      &:hover {
        color: $yellow;
        background-color: $dark-gray;
      }
    }
  }
}