.navbar__element {
  width: 100%;
  font-family: "Luckiest Guy", arial, serif;
  font-size: 20px;
  background-color: #A2A2A2;
  display: flex;
  flex-direction: row;
  position: fixed;
  box-shadow: 0 2px 5px 0 #343133;
  z-index: 1; }

.navbar__logo {
  padding: 0 20px 0 0;
  flex-grow: 2; }
  @media screen and (max-width: 769px) {
    .navbar__logo {
      flex-grow: 1; } }
  .navbar__logo h1 {
    text-align: left;
    padding-left: 20px;
    width: 100%;
    display: inline-block; }
    @media screen and (max-width: 769px) {
      .navbar__logo h1 {
        text-align: center; } }

.navbar__menu {
  flex-grow: 10;
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 769px) {
    .navbar__menu {
      display: none; } }
  .navbar__menu a {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px #343133;
    display: inline-block;
    line-height: 80px;
    font-size: 16px;
    padding: 0 10px 0 10px; }
    .navbar__menu a:hover {
      color: #FCD103;
      background-color: #343133; }
