.App {
  display: flex;
  flex-flow: row wrap; }
  .App .navbar__element, .App .HomeCards__listing {
    flex: 1 100%; }

.HomeCards__listing {
  margin-top: 80px; }
  .HomeCards__listing--list {
    padding: 20px 20px 10px 20px;
    margin: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: column; }


.button {
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  font-family: "Luckiest Guy", arial, serif; }
  .button__primary {
    background-color: #3D8F31;
    color: #FFFFFF;
    border-bottom: 5px solid #146A20;
    margin-right: 10px; }
    .button__primary:hover {
      background-color: #146A20; }
  .button__secondary {
    background-color: #FCD103;
    color: #FFFFFF;
    border-bottom: 5px solid #F09218;
    text-shadow: 1px 1px #343133; }
    .button__secondary:hover {
      background-color: #F09218; }

.home__card--item {
  font-family: "Luckiest Guy", arial, serif;
  list-style: none;
  margin: 0;
  display: flex;
  flex: 2 8;
  flex-direction: row;
  background-color: #D2D2D2;
  padding: 10px 15px 7.5px 10px;
  margin-bottom: 15px; }
  @media screen and (max-width: 769px) {
    .home__card--item {
      display: inline-block; } }

.home__card--thumbnail {
  flex-grow: 2;
  height: 100px;
  min-width: 150px;
  width: 100px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px; }
  @media screen and (max-width: 769px) {
    .home__card--thumbnail {
      width: 100%;
      min-height: 150px;
      background-size: 100% auto;
      background-position: center; } }

.home__card--description {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative; }

.home__card--main {
  width: 100%;
  display: flex;
  margin-bottom: 30px; }
  @media screen and (max-width: 769px) {
    .home__card--main {
      display: inline-block;
      width: 100%;
      margin-bottom: 70px; } }

.home__card--body {
  flex-grow: 10;
  padding-top: 20px; }
  @media screen and (max-width: 769px) {
    .home__card--body {
      display: inline-block;
      width: 100%;
      padding-left: 10px; } }

.home__card--price {
  text-align: right;
  flex-grow: 2;
  min-width: 100px; }
  .home__card--price span {
    border-radius: 5px;
    background: #343133;
    color: #FCD103;
    padding: 10px 15px 10px 15px;
    line-height: auto;
    margin-top: 5px;
    display: inline-block;
    font-size: 20px; }
  @media screen and (max-width: 769px) {
    .home__card--price {
      display: inline-block;
      width: 100%;
      padding-right: 10px; } }

.home__card--actionButtons {
  font-family: "Luckiest Guy", arial, serif;
  width: 100%;
  display: inline-block;
  text-align: right;
  clear: both;
  position: absolute;
  bottom: 0; }
  @media screen and (max-width: 769px) {
    .home__card--actionButtons {
      text-align: center; }
      .home__card--actionButtons .button__primary {
        display: none; }
      .home__card--actionButtons .button__secondary {
        width: 100%; } }

.loading__wrapper {
  font-family: "Luckiest Guy", arial, serif;
  width: 100%;
  display: inline-block;
  margin-top: 50px; }
  .loading__wrapper span {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 20px; }
  .loading__wrapper .fa-spinner {
    margin: auto;
    width: 200px;
    display: block;
    margin-top: 20px;
    font-size: 30px; }

.navbar__element {
  width: 100%;
  font-family: "Luckiest Guy", arial, serif;
  font-size: 20px;
  background-color: #A2A2A2;
  display: flex;
  flex-direction: row;
  position: fixed;
  box-shadow: 0 2px 5px 0 #343133;
  z-index: 1; }

.navbar__logo {
  padding: 0 20px 0 0;
  flex-grow: 2; }
  @media screen and (max-width: 769px) {
    .navbar__logo {
      flex-grow: 1; } }
  .navbar__logo h1 {
    text-align: left;
    padding-left: 20px;
    width: 100%;
    display: inline-block; }
    @media screen and (max-width: 769px) {
      .navbar__logo h1 {
        text-align: center; } }

.navbar__menu {
  flex-grow: 10;
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 769px) {
    .navbar__menu {
      display: none; } }
  .navbar__menu a {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px #343133;
    display: inline-block;
    line-height: 80px;
    font-size: 16px;
    padding: 0 10px 0 10px; }
    .navbar__menu a:hover {
      color: #FCD103;
      background-color: #343133; }
